#text{
    white-space: nowrap;
    overflow: scroll;
    text-overflow: visible;
    border:2px solid green;
    text-align: center;
    width:100px
    
}
#text1 {
    /* white-space: nowrap; */
    overflow: scroll;
    /* text-overflow: visible; */
    border:2px solid green;
    text-align: center;
    width:300px;
    height:150px;
    box-sizing: border-box;
    
}
#text2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:initial;
    border:2px solid green;
    text-align: center;
    width:100px
    
}